
body {
    padding: 0;
    margin: 0;
}

/*Preloader*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes animate-preloader {
  0% {-webkit-transform: rotate(0deg);
  transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);
  transform: rotate(360deg);}

}


#btnSideModal{
    position: absolute;
    z-index: 3;
    top:20px;
    left: 20px;
    width: 100px;
    display: none;
}

.btn-custom{
    width: 100px;
    margin-bottom: 5px;
}


html,body {
    height: 100%;
    width: 100vw;
}


#mapId{ 
    height: 100%;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#countryDropdown{
    position: absolute;
    z-index: 99999;
    top:20px;
    left: 60px;
    width: 280px;
}



 #flagImg {
    width: 100%;
    height: auto;
 }



#video iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
}


/*Photo Gallery*/
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    iframe{
        width:auto;
    } 
  }



