
body {
    padding: 0;
    margin: 0;
}


html,body, #wrapper {
    height: 100%;
    width: 100vw;
}

#button_show{
    position: absolute;
    display: none;
    z-index: 3;
    top:500px;
    left: 0px;
}

#loading{
    width: 380px;
    height: auto;
}

#mapId{ 
    height: 100%;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#countryDropdown{
    position: absolute;
    z-index: 99999;
    top:15px;
    left: 50px;
    
}

/* nav{
    height: 10%;
    width: 100vw;
} */


 #flagImg {
    width: 100%;
    height: auto;
 }

 #photoImg{
    width: 385px;
}



.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 420px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body {
    padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}


.modal.left.fade.show .modal-dialog {
    left: 0;
}

.modal-body > #photoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



@media only screen and (max-width: 600px) {
    .modal.left .modal-dialog {
        width: 250px;
    }
    #photoImg{
        width: 220px;
    }

    #iframe_1{
        width: 220px;
    }

    #iframe_2{
        width: 220px;
    }

    #loading{
        width: 220px;
        height: auto;
    }
    
}