
body {
    padding: 0;
    margin: 0;
}

#btnGeneral{
    position: absolute;
    z-index: 3;
    top:115px;
    left: 20px;
    width: 120px;
    
}

#btnWiki{
    position: absolute;
    z-index: 3;
    top:160px;
    left: 20px;
    width: 120px;
}

#btnPhotos{
    position: absolute;
    z-index: 3;
    top:205px;
    left: 20px;
    width: 120px;
}

#btnCities{
    position: absolute;
    z-index: 3;
    top:250px;
    left: 20px;
    width: 120px;
}

#btnNobel{
    position: absolute;
    z-index: 3;
    top:295px;
    left: 20px;
    width: 120px;
}

#btnNews{
    position: absolute;
    z-index: 3;
    top:340px;
    left: 20px;
    width: 120px;
}

#btnCovid{
    position: absolute;
    z-index: 3;
    top:385px;
    left: 20px;
    width: 120px;
}

#btnYoutube{
    position: absolute;
    z-index: 3;
    top:430px;
    left: 20px;
    width: 120px;
}

#btnCamera{
    position: absolute;
    z-index: 3;
    top:475px;
    left: 20px;
    width: 120px;
}

html,body, #wrapper {
    height: 100%;
    width: 100vw;
}

#button_show{
    position: absolute;
    display: none;
    z-index: 3;
    bottom:25px;
    left: 0px;
}



#mapId{ 
    height: 100%;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#countryDropdown{
    position: absolute;
    z-index: 99999;
    top:20px;
    left: 50px;
    width: auto;
}



 #flagImg {
    width: 100%;
    height: auto;
 }



#video iframe{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#camera iframe {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#camLoc{
    text-align: center;
}





/*Photo Gallery*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    iframe{
        width:auto;
    } 
  }



